<ion-view title="Activity" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="row padding">
      <div class="col-50">
        <div class="row responsive-sm">
          <div class="container"> blblblblbl </div>
        </div>
      </div>
      <div class="col-50">
        <div class="row responsive-sm">
          <div class="container">blblblblbl</div>
        </div>
      </div>
    </div>

    <div class="row padding">
      <div class="col-50">
        <div class="row responsive-sm">
          <div class="container"> blblblblbl </div>
        </div>
      </div>
      <div class="col-50">
        <div class="row responsive-sm">
          <div class="container">blblblblbl</div>
        </div>
      </div>
    </div>
    <div class="row padding">
      <div class="container-bottom"> blblblblbl </div>
    </div>
  </ion-content>
</ion-view>
