<ion-view view-title="Profile" id="page2">
  <ion-nav-buttons side="right" ng-show="false">
    <button class="button icon ion-gear-a"></button>
  </ion-nav-buttons>

	<ion-content padding="true" class="has-header">
    <div class="row">
      <div class="col-50">
        <canvas id="doughnut1" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
      </div>
      <div class="col-50">
        <canvas id="doughnut2" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
      </div>
    </div>
  </ion-content>
</ion-view>
