<ion-view view-title="Profile" id="page2">
  <ion-nav-buttons side="right" ng-show="false">
    <button class="button icon ion-gear-a"></button>
  </ion-nav-buttons>

	<ion-content padding="true" class="has-header">
    <div class="row padding">
      <div class="col-50 padding" ng-controller="DoughnutCtrl">
        <canvas id="doughnut1" class="chart chart-doughnut" chart-data="data" chart-labels="labels" width="2px" height="2px"></canvas>
      </div>
      <div class="col-50 padding" ng-controller="DoughnutCtrl">
        <canvas id="doughnut2" class="chart chart-doughnut" chart-data="data" chart-labels="labels" width="2px" height="2px"></canvas>
      </div>
    </div>
    <br>
    <br>
    <div class="row padding">
      <div class="col padding" ng-controller="LineCtrl">
        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-legend="true" chart-series="series"
                chart-click="onClick" >
        </canvas>
      </div>
    </div>
  </ion-content>

</ion-view>
