{# src/ApiBundle/Resources/views/Test/index.html.twig #}


<!DOCTYPE html>

<html>

<head>

    <title>Test</title>

</head>

<body>


<p>

    Controlleur de test

</p>
<p>
    {{ data.getWeight }}
</p>

</body>

</html>